.header1{
	text-align: center;
}

.body1{
	background-color: #b3ffd9;
}

.enterinput{
	text-align: center;
	padding-top: 30px;
}

.inputsubmit{
	text-align: center;
	padding-top: 30px;
}

.table1{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}

.td, .th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}